.update-password {
  width: 100%;

  &-title {
    margin: 0;
    font-family: Circular Std Book;
    color: $grayscale1;
    font-weight: 900;
    font-size: 40px;

    @include md {
      font-size: 32px;
    }

    @include sm {
      font-size: 26px;
    }

    @include xs {
      font-size: 24px;
    }
  }

  &-subtitle {
    font-family: Circular Std Book;
    color: $grayscale2;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;

    @include sm {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__pass {
    margin-top: 40px;
  }

  &__pass,
  &__confirm-pass {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $grayscale1;
    font-family: $h-font;
    position: relative;

    label {
      text-transform: uppercase;
      font-size: 11px;
      line-height: 14px;
      font-weight: 900;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $grayscale3;
      background: none;
      margin-top: 8px;
      font-size: 16px;
      padding-bottom: 14px;
      color: $grayscale1;
      font-family: Circular Std Book;
    }
    img {
      position: absolute;
      width: 22px;
      // height: 22px;
      right: 0;
      top: 50%;
      transform: translate(0, -20%);
      cursor: pointer;
      z-index: 27;
    }
  }

  &__validation {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    font-family: Circular Std Book;
    color: $grayscale2;
    font-size: 11px;
    line-height: 25px;

    &-left {
      margin-right: 30px;
    }

    img {
      width: 8px;
      margin-right: 6px;
      //   height: 1px;
    }
  }

  &__confirm-pass {
    margin-top: 31px;
  }

  &__sign {
    color: $white;
    width: 70%;
    padding: 20px 0;
    color: #fff;
    border: none;
    background: $secondary3;
    margin-top: 40px;
    cursor: pointer;
    font-family: Circular Std Black;
    font-size: 16px;
    position: relative;
    transition: all 0.3s;
    align-self: flex-start;

    img {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 16px;
      right: 16px;
    }

    &:hover {
      background: $secondary3hover;
    }

    @include xs {
      font-size: 14px;
    }
  }

  @include md {
    max-width: 427px;
  }

  @include sm {
    max-width: 478px;
  }

  @include xs {
    max-width: 355px;
  }
}

.update-password-btn {
  margin-top: 30px;
}
