.profile-page-certificates-wrapper {
  width: 100%;
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .opened-badged {
      position: relative;
      padding-right: 33px;
      font-weight: 450;
      font-size: 18px;
      line-height: 27px;

      color: $grayscale1;

      &::after {
        content: '';
        display: block;
        width: 22px;
        height: 23px;
        background: url('../../../../assets/rocket.svg') no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }

      span {
        font-weight: 700;
      }
    }

    @include sm {
      flex-direction: column;
      align-items: flex-start;

      .opened-badged {
        margin-top: 10px;
      }
    }
  }

  .badges-list {
    margin-top: 30px;
    display: grid;
    grid-auto-rows: minmax(102px, auto);
    grid-template-columns: repeat(auto-fit, minmax(55px, 115px));
    @include fluid-size('gap', 400px, 1600px, 30px, 33px);
    margin-bottom: 35px;

    .badge-wrapp {
      
      &:hover {
        cursor: pointer;
      }

      .title {
        margin-top: 10px;
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $grayscale1;
      }
    }
  }

  .sections-content {
    &__line {
      width: 100%;
      border-bottom: 1px solid $grayscale4;
      margin: 30px 0;
    }

    &__certificates {
      margin-top: 60px;

      @include sm {
        margin-top: 40px;
      }

      &-title {
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 120%;
        color: $grayscale1;

        @include sm {
          font-size: 22px;
        }
      }

      &-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 0;
        border-bottom: 1px solid $secondary2;

        &:last-child {
          border-bottom: none;
        }

        @include sm {
          gap: 20px;
          padding: 40px 0;

          &:first-child {
            padding-top: 20px;
          }
        }

        &-subject {
          font-style: normal;
          font-weight: 900;
          font-size: 24px;
          line-height: 120%;
          color: $grayscale1;

          @include sm {
            font-size: 16px;
          }
        }

        &-items {
          display: flex;
          flex-direction: column;
          gap: 20px;

          @include sm {
            gap: 30px;
          }

          .course {
            &-wrapp {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 15px;

              @include sm {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
              }              
            }

            &-title {
              font-style: normal;
              font-weight: 450;
              font-size: 18px;
              line-height: 150%;
              color: $grayscale2;

              @include sm {
                font-size: 14px;
              }
            }

            &-btn-wrapper {
              display: flex;
              align-items: center;
              height: 24px;
              gap: 10px;
              

              @include sm {
                justify-content: space-between;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}