.sign-up {
  max-width: 620px;
  width: 100%;
  background: $white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 60px 110px;
  box-shadow: 0px 4px 15px rgba(12, 22, 44, 0.1);
  z-index: 3;

  &-title {
    margin: 0;
    font-family: Circular Std Book;
    color: $grayscale1;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;

    @include md {
      font-size: 32px;
    }

    @include sm {
      font-size: 26px;
      margin-bottom: 30px;
    }

    @include xs {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__validation {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    font-family: Circular Std Book;
    color: $grayscale2;
    font-size: 11px;
    line-height: 25px;

    &-left {
      margin-right: 30px;
    }

    img {
      width: 8px;
      margin-right: 6px;
      //   height: 1px;
    }
  }


  @include md {
    max-width: 427px;
    padding: 60px 36px;
  }

  @include sm {
    max-width: 478px;
    padding: 40px;
  }

  @include xs {
    max-width: 355px;
    padding: 40px 26px;
  }
}
