$white: #fff;

$google: #eb4133;
$facebook: #395a9a;

$primary: #375bd2;

$secondary1: #1a2b6b;
$secondary2: #dfe7fb;
$secondary3: #05c46b;
$secondary3hover: #00aa5b;

$secondary4: #0ea6e8;
$secondary5: #ff5e57;
$secondary6: #ffa451;

$grayscale1: #0c162c;
$grayscale2: #3d4556;
$grayscale3: #d4dbea;
$grayscale3: #f5f7fd;

$h-font: Circular Std Black, sans-serif;
$p-font: Circular Std Book, sans-serif;

