html {
  scroll-behavior: smooth;
}

.header {
  z-index: 5;
  font-family: $p-font;
  max-width: 1920px;
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  @include fluid-size('padding-left', 1024px, 1600px, 20px, 40px);
  @include fluid-size('padding-right', 1024px, 1600px, 20px, 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary;
  margin: 0 auto;

  @include md {
    height: 80px;
  }

  &__link {
    height: 27px;
    width: 231px;
    @include fluid-size('width', 375px, 1600px, 190px, 231px);
    @include fluid-size('height', 375px, 1600px, 22px, 27px);
    background: url('../../../assets/logo.svg') no-repeat;
    background-size: contain;
  }

  &-menu {
    display: flex;
    align-items: center;

    &-user {
      display: flex;
      align-items: center;
      color: #fff;
      cursor: pointer;
      position: relative;

      &__circle {
        background: #fff;
        color: #000;
        padding: 10px;
        border-radius: 50%;
        font-size: 15px;
        line-height: 19px;
        margin-left: 50px;

        @include md {
          margin-left: 0;
        }

        @include lg {
          margin-left: 0;
        }
      }

      &__name {
        margin-left: 10px;
        font-size: 18px;
        line-height: 22px;

        & > span {
          font-size: 10px;
          @include sm {
            display: none;
          }
        }
      }
    }

    &-list {
      display: flex;

      @include md {
        display: none;
      }

      &__item {
        color: #fff;
        font-size: 18px;
        background: none;

        & > span {
          font-size: 10px;
        }
      }
    }

    &-log {
      display: flex;

      @include sm {
        display: none;
      }

      &__link {
        font-size: 16px;
        border-radius: 3px;
        padding: 15px 25px;
        transition: all 0.3s;

        &:hover {
          opacity: 1;
        }
      }

      .link__signin {
        color: #fff;
        border: 1px solid #fff;

        &:hover {
          color: $grayscale1;
          background: #fff;
        }
      }
      .link__signup {
        color: $grayscale1;
        background: #fff;

        &:hover {
          color: #fff;
          background: $secondary3;
        }
      }
    }

    &__burger-icon {
      cursor: pointer;
      background: url('../../../assets/burger-menu.svg') no-repeat;
      background-size: contain;
      height: 24px;
      width: 24px;
      margin-left: 40px;
      display: none;
      @include md {
        display: block;
      }
    }
    &__exit-icon {
      background: url('../../../assets/exit-white.svg') no-repeat;
      background-size: contain;
      height: 15px;
      width: 15px;
    }
  }
}

.header-chapters {
  z-index: 15;
  position: absolute;
  background: #fff;
  top: 80px;
  right: 150px;
  padding: 20px 30px;
  width: 480px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 15px 25px rgba(12, 22, 44, 0.1);
  border-radius: 20px;
  &.hidden {
    display: none;
  }
  @include md {
    top: 125px;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% - 40px);
  }

  &__item {
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $grayscale3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.no-bb {
      border-bottom: none;
    }

    &__name {
      max-width: 320px;
      @include fluid-size('font-size', 375px, 1600px, 13px, 15px);
      line-height: 19px;
    }

    &__completion {
      @include fluid-size('font-size', 375px, 1600px, 8px, 11px);
      @include fluid-size('line-height', 375px, 1600px, 10px, 14px);
      color: #fff;
      border-radius: 5px;
      width: 78px;
      height: 19px;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      line-height: 14px;

      &.completed {
        background: $secondary3;
      }
      &.continue {
        background: $primary;
      }
    }
  }
}

.header-menu-cred {
  @include sm {
    display: none;
  }
}

.header-dropdown-user-menu {
  @include sm {
    display: block;
  }
}

.header-list {
  z-index: 5;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url('../../../assets/navbar-ellipse-xs.svg') no-repeat bottom;
  background-size: cover;
  padding: 0 20px 70px;
  align-items: flex-start;

  &__item {
    width: 100%;
    background: none;
    color: #fff;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & > .header-menu-log {
    display: none;
    padding: 14px 0;
    margin-left: 0;
    @include sm {
      display: flex;
    }
  }

  & > .header-menu-user {
    margin: 14px 0;

    & > .header-menu-user__circle {
      margin-left: 0;
    }

    & > .header-menu-user__name {
    }
  }
}

.header-menu-user-menu {
  display: none;
  @include sm {
    display: block;
  }
  width: 100%;

  &__item {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    padding: 14px 0;
  }
}

.header__item-border {
  width: 100%;
  border-bottom: 1px solid $grayscale3;
  opacity: 0.1;
}

.bright-background {
  display: block;
  opacity: 0.7;
  background: #fff;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.opacity-0 {
  display: none;
}

.hidden {
  display: none;
}

.with-bt {
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.ml {
  &-10 {
    margin-left: 10px;
  }
  &-30 {
    margin-left: 30px;
  }
  &-50 {
    margin-left: 50px;
  }
}
