.header {
  font-family: $p-font;
  max-width: 1920px;
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  @include fluid-size("padding-left", 1024px, 1600px, 20px, 40px);
  @include fluid-size("padding-right", 1024px, 1600px, 20px, 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary;
  margin: 0 auto;

  @include md {
    height: 80px;
  }

  &__link {
    height: 27px;
    width: 231px;
    @include fluid-size("width", 375px, 1600px, 190px, 231px);
    @include fluid-size("height", 375px, 1600px, 22px, 27px);
    background: url("../../../assets/logo.svg") no-repeat;
    background-size: contain;
  }

  &-menu {
    display: flex;
    align-items: center;

    &-user {
      display: flex;
      align-items: center;
      color: #FFF;

      &__circle {
        background: #FFF;
        color: #000;
        padding: 10px;
        border-radius: 50%;
        font-size: 15px;
        line-height: 19px;
        margin-left: 50px;
      }

      &__name {
        margin-left: 10px;
        font-size: 18px;
        line-height: 22px;

        & > span {
          font-size: 10px;
        }
      }
    }

    &-list {
      display: flex;

      @include md {
        display: none;
      }

      &__item {
        color: #fff;
        font-size: 18px;
        background: none;

        & > span {
          font-size: 10px;
        }
      }
    }

    &-log {
      display: flex;

      @include sm {
        display: none;
      }

      &__link {
        font-size: 16px;
        border-radius: 3px;
        padding: 15px 25px;
        transition: all .3s;

        &:hover {
          opacity: 1;
        }
      }

      .link__signin{
        color: #FFF;
        border: 1px solid #FFF;

        &:hover {
          color: $grayscale1;
          background: #FFF;
        }
      }
      .link__signup {
        color: $grayscale1;
        background: #FFF;

        &:hover {
          color: #FFF;
          background: $secondary3;
        }
      }
    }
  }
}

.btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.ml {
  &-10 {
    margin-left: 10px;
  }
  &-30 {
    margin-left: 30px;
  }
  &-50 {
    margin-left: 50px;
  }
}
