.chapter-info {
  &-wrapper {
    max-width: 1600px;
    padding: 0 160px;
    margin: 0 auto;
  }

  &-container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 40px;
    margin: 80px 20px 0;
  }
}

.chapter-block {
  padding: 60px 40px;
  white-space: pre-wrap;
  overflow: auto;
  position: relative;
  color: black;
  box-shadow: 0 4px 15px rgba(12, 22, 44, 0.1);
  border-radius: 20px;

  .step {
    background: #05C46B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25px;
    position: absolute;
    top: 0;
    display: block;
    align-items: center;
    justify-content: center;

    &-text {
      font-family: Circular Std, sans-serif;
      font-style: normal;
      font-weight: 450;
      font-size: 15px;
      line-height: 19px;
      color: #FFFFFF;
      text-transform: uppercase;
      margin: 0 auto;
      padding: 3px 10px;
      display: flex;
    }

  }
}

.editor-wrapper {
  border-radius: 20px;

  .window-editor {
    padding: 20px;
    border-radius: 20px;
  }
}

.mission-container {
  background: #1A2B6B;
  box-shadow: 0 4px 15px rgba(12, 22, 44, 0.1);
  border-radius: 20px;
  padding: 40px;
  margin-top: 20px;

  .title {
    font-weight: 900;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0 0 20px 0;
  }

  .mission-goals {
    padding-left: 20px;
    margin: 0;

    li {
      font-style: normal;
      font-weight: 450;
      font-size: 18px;
      line-height: 150%;
      color: #FFFFFF;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .major-info {
        color: #eb4133;
      }
    }
  }
}
