.preview-page {
  width: 100%;
  height: auto;
  font-family: $p-font;
  color: $grayscale1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: url('../../assets/profile-page-ellipse.png') no-repeat left 50%;
  @include fluid-size('background-position-y', 375px, 1600px, 0px, -150px);
  background-size: contain;
  padding-bottom: 75px;

  @include md {
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
  }

  @include sm {
    padding-bottom: 270px;
  }
}

.certificate-container {
  width: 100%;
height: 100%;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8) url(../../assets/spinner.svg) no-repeat center center ;
  background-size: 100px;
  flex-direction: column;

}

.loader-text {
  position: relative;
  top: 64px;
  text-align: center;
  font-size: 1.2em;
  color: #444;
}

.preview-page-section {
  background: $white;
  box-shadow: 0px 4px 15px rgba(12, 22, 44, 0.1);
  border-radius: 20px;
  position: relative;

  &.section-certificate {
    padding: 60px;
    @include fluid-size('width', 1024px, 1600px, 643px, 840px);

    @include md {
      width: calc(100% - 40px);
      padding: 30px 20px;
      margin-bottom: 20px;
      height: 951px;
    }

    @include sm {
      padding: 20px 10px;
      width: calc(100% - 20px);
      height: 474px;
    }

    @include lg {
      padding: 40px 20px;
      margin-bottom: 100px;
      height: 861px;
    }

    @include xl {
      padding: 40px 20px;
      height: 1116px;
    }

    .certificate-bg {
      width: 100%;
      height: 100%;
      position: relative;

      &.chainlink-101 {
        // background: url('../../assets/chainlink101_certificate.svg') no-repeat center;
        background-size: contain;
      }

      &.soliditi-intro {
        // background: url('../../assets/solidityIntroduction_certificate.svg') no-repeat center;
        background-size: contain;
      }

      &.solidity-102 {
        // background: url('../../assets/solidityIntroduction_certificate.svg') no-repeat center;
        background-size: contain;
      }

      &.vrf-v2 {
        // background: url('../../assets/vrfV2Introduction_certificate.svg') no-repeat center;
        background-size: contain;
      }

      &.advanced-vrf-v2 {
        // background: url('../../assets/advancedCourseVRFv2_certificate.svg') no-repeat center;
        background-size: contain;
      }

      &.chainlink-keepers {
        // background: url('../../assets/chainlinkKeepers_certificate.svg') no-repeat center;
        background-size: contain;
      }

      .user-name {
        position: absolute;
        font-style: normal;
        font-weight: 450;

        color: $grayscale2;

        @include md {
          @include fluid-size('right', 768px, 1024px, 50px, 180px);
          bottom: 160px;
          font-size: 20px;
          line-height: 70px;
        }

        @include sm {
          @include fluid-size('right', 375px, 768px, 20px, 220px);
          bottom: 55px;
          font-size: 12px;
          line-height: 80px;
        }

        @include lg {
          @include fluid-size('right', 1024px, 1600px, 30px, 120px);
          bottom: 135px;
          font-size: 20px;
          line-height: 80px;
        }

        @include xl {
          bottom: 180px;
          right: 65px;
          font-size: 24px;
          line-height: 96px;
        }
      }

      .user-code {
        position: absolute;
        font-style: normal;
        font-weight: 450;

        color: $grayscale2;

        @include md {
          @include fluid-size('right', 768px, 1024px, 70px, 200px);
          bottom: 25px;
          font-size: 15px;
          line-height: 74px;
        }

        @include sm {
          @include fluid-size('right', 375px, 768px, 32px, 227px);
          bottom: -10px;
          font-size: 7px;
          line-height: 80px;
        }

        @include lg {
          @include fluid-size('right', 1024px, 1600px, 60px, 165px);
          bottom: 14px;
          font-size: 14px;
          line-height: 78px;
        }

        @include xl {
          bottom: 22px;
          right: 93px;
          font-size: 17px;
          line-height: 98px;
        }
      }
    }
  }

  &.section-info {
    margin-left: 40px;

    @include fluid-size('width', 1024px, 1600px, 301px, 400px);

    @include md {
      width: calc(100% - 40px);
      margin-left: 0;
      margin-bottom: 60px;
      padding: 40px 15px;
    }

    @include sm {
      width: calc(100% - 20px);
      padding: 30px 15px;
    }

    @include lg {
      padding: 40px 30px;
    }

    @include xl {
      padding: 40px;
    }

    .title {
      font-style: normal;
      font-weight: 900;

      color: $grayscale1;

      @include md {
        text-align: center;
        font-size: 22px;
        line-height: 26px;
      }

      @include sm {
        font-size: 20px;
        line-height: 24px;
      }

      @include lg {
        font-size: 28px;
        line-height: 34px;
      }

      @include xl {
        font-size: 32px;
        line-height: 38px;
      }
    }

    .description {
      margin-top: 10px;
      font-style: normal;
      font-weight: 450;
      color: $grayscale2;

      @include md {
        text-align: center;
        font-size: 18px;
        line-height: 27px;
      }

      @include sm {
        font-size: 16px;
        line-height: 24px;
      }

      @include lg {
        font-size: 22px;
        line-height: 33px;
      }

      @include xl {
        font-size: 22px;
        line-height: 33px;
      }
    }

    

    .downloadCertificate {
      display: flex;
      justify-content: center;

      @include md {
        margin-top: 20px;
      }

      @include sm {
        margin-top: 15px;
      }

      @include lg {
        margin-top: 30px;
      }

      @include xl {
        margin-top: 30px;
      }
    }
  }

  @include sm {
    margin-bottom: 60px;
  }

  @include md {
    width: calc(100% - 40px);
  }
}
