.reset-password {
  max-width: 620px;
  width: 100%;
  background: $white;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 60px 110px;
  box-shadow: 0px 4px 15px rgba(12, 22, 44, 0.1);
  z-index: 3;

  &-title {
    margin: 0;
    font-family: Circular Std Book;
    color: $grayscale1;
    font-weight: 900;
    font-size: 40px;

    @include md {
      font-size: 32px;
    }

    @include sm {
      font-size: 26px;
    }

    @include xs {
      font-size: 24px;
    }
  }

  &-subtitle {
    font-family: Circular Std Book;
    color: $grayscale2;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;

    @include sm {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__pass {
    margin-top: 40px;
  }

  &__pass,
  &__confirm-pass {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $grayscale1;
    font-family: Circular Std Black;
    position: relative;

    label {
      text-transform: uppercase;
      font-size: 14px;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid $grayscale3;
      background: none;
      margin-top: 8px;
      font-size: 16px;
      padding-bottom: 14px;
      color: $grayscale1;
      font-family: Circular Std Book;
    }
    img {
      position: absolute;
      width: 22px;
      // height: 22px;
      right: 0;
      top: 50%;
      transform: translate(0, -20%);
      cursor: pointer;
      z-index: 2723647234;
    }
  }

  &__validation {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: flex-start;
    font-family: Circular Std Book;
    color: $grayscale2;
    font-size: 11px;
    line-height: 25px;

    &-left {
      margin-right: 30px;
    }

    img {
      width: 8px;
      margin-right: 6px;
      //   height: 1px;
    }
  }

  &__confirm-pass {
    margin-top: 31px;
  }

  &__sign {
    color: $white;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    border: none;
    background: $secondary3;
    margin-top: 40px;
    cursor: pointer;
    font-family: Circular Std Black;
    font-size: 16px;
    position: relative;
    transition: all 0.3s;

    img {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 16px;
      right: 16px;
    }

    &:hover {
      background: $secondary3hover;
    }

    @include xs {
      font-size: 14px;
    }
  }

  &__forgot {
    margin-top: 30px;
    font-family: Circular Std Book;
    font-size: 18px;
    color: $grayscale1;
    padding-bottom: 3px;
    border-bottom: 1px solid $grayscale3;

    @include sm {
      font-size: 16px;
    }

    @include xs {
      font-size: 14px;
    }
  }

  @include md {
    max-width: 427px;
    padding: 60px 36px;
  }

  @include sm {
    max-width: 478px;
    padding: 40px;
  }

  @include xs {
    max-width: 355px;
    padding: 40px 26px;
  }
}
