.confirm-you-password {
  z-index: 50;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    max-width: 510px;
    width: 100%;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    padding-left: 105px;
    padding-right: 105px;
    position: relative;

    &-close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 22px;
      height: 22px;
      background: none;
      border: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      margin: 0;
      font-family: Circular Std Black;

      color: $grayscale1;
      font-weight: 900;
      font-size: 24px;
      text-align: center;

      @include md {
        font-size: 20px;
        max-width: 382px;
      }

      @include sm {
        font-size: 18px;
      }

      @include xsm {
        font-size: 16px;
      }
    }

    &-subtitle {
      color: $grayscale2;
      text-align: center;
      font-size: 18px;
      font-family: Circular Std Book;

      @include sm {
        font-size: 16px;
      }

      @include xsm {
        font-size: 14px;
      }
    }

    &-pass {
      display: flex;
      flex-direction: column;
      width: 100%;
      color: $grayscale1;
      font-family: Circular Std Black;
      margin-top: 40px;
      position: relative;

      img {
        position: absolute;
        width: 22px;
        // height: 22px;
        right: 0;
        top: 50%;
        transform: translate(0, -20%);
        cursor: pointer;
        z-index: 27;
      }

      label {
        text-transform: uppercase;
        font-size: 14px;
      }

      input {
        width: 100%;
        border: none;
        border-bottom: 1px solid $grayscale3;
        background: none;
        margin-top: 8px;
        font-size: 16px;
        padding-bottom: 15px;
        color: $grayscale1;
        font-family: Circular Std Book;
      }
    }

    &-sign {
      color: $white;
      width: 100%;
      padding: 20px 0;
      color: #fff;
      border: none;
      background: $secondary3;
      margin-top: 40px;
      cursor: pointer;
      font-family: Circular Std Black;
      font-size: 16px;
      position: relative;
      transition: all 0.3s;

      img {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
      }

      &:hover {
        background: $secondary3hover;
      }

      @include xs {
        font-size: 14px;
      }
    }

    &-forgot {
      margin-top: 30px;
      font-family: Circular Std Book;
      font-size: 18px;
      color: $grayscale1;
      padding-bottom: 3px;
      border-bottom: 1px solid $grayscale3;
      text-align: center;

      @include sm {
        font-size: 16px;
      }

      @include xs {
        font-size: 14px;
      }
    }

    @include sm {
      max-width: 478px;
      padding-left: 89px;
      padding-right: 89px;
    }

    @include xsm {
      max-width: 334px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.confirm-you-password-hide {
  display: none;
}
